body {
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.5s ease;
}

.slider{
    padding: 20px;
    margin-top: -10px; 
}
.slider__item {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 200px;
  margin-top: 10px;
  cursor: pointer;
  
}
.slider__item h3 {
  color: #374151;
  margin-bottom: 10px;
}
.slider__item p {
  color: #4b5563;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.slick-dots li button:before {
  color: #9ca3af;
  font-size: 14px;
}
.slick-dots li.slick-active button:before {
  color: #60a5fa;
}
.flex_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
/* .photos{
    display: flex;
    flex-basis: 100px;
}
.area{
    height: 200px;
    width: auto;

    background-size: cover;
    background-repeat: none;
} */
